form {
    margin: 10%;
    background: lightblue;
    padding: 5%;
    border-radius: 20px;
}

div {
    padding: 5px;
    align-items: center;
}

#rmvbttn {
    color: white;
    background-color: red;
    border: none;
    border-radius: 25%;
    width: 1.5rem;
    height: 1.5rem;
}